.centered-container {
    display: flex;                 /* flex */
    flex-direction: column;       /* flex-col */
    align-items: center;          /* items-center */
    justify-content: center;      /* justify-center */
    min-height: 100vh;           /* min-h-screen */
    padding-top: 0.5rem;         /* py-2 (top) */
    padding-bottom: 0.5rem;      /* py-2 (bottom) */
    background-color: black;
    color: aqua;
}
.text-4xl {
    font-size: 2.25rem;   /* 36px */
    line-height: 1;       /* Adjust this if needed */
}
.Logout {
    background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
        padding-box,
      linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
  
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
  
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  
  .Logout:hover {
    box-shadow: none;
    opacity: 80%;
  }
  